/data/vcftools/maf.01_minDP20_maxDP100_minQ40_missing.90.non-sylvestre.recode.vcf
/data/vcftools/maf.01_minDP20_maxDP100_minQ40_missing.90.recode.vcf
/data/vcftools/maf.01_minDP20_maxDP100_minQ40_missing.90.recode.vcf.gz
/data/vcftools/maf.01_minDP20_maxDP100_minQ40_missing.90.splitted.vcf
/data/vcftools/maf.01_minDP20_maxDP100_minQ40_missing.90.biallelic.vcf
/data/vcftools/maf.01_minDP20_maxDP100_minQ40_missing.90.splitted_chr.vcf
/data/vcftools/maf.05_minDP20_maxDP100_minQ40_missing.90.recode.vcf
/data/vcftools/maf.05_minDP20_maxDP100_minQ40_missing.90.recode.vcf.gz
/data/vcftools/maf.05_minDP20_maxDP100_minQ40_missing.90.splitted.vcf
/data/vcftools/maf.05_minDP20_maxDP100_minQ40_missing.90.biallelic.vcf
/data/vcftools/maf.05_minDP20_maxDP100_minQ40_missing.90.splitted_chr.vcf
/data/hmp_TASSEL/mygenotypes_maf0.05.hmp.txt
/data/hmp_TASSEL/mygenotypes_maf0.01.hmp.txt
