/data/vcftools/maf.01_minDP20_maxDP100_minQ40_missing.10.non-sylvestre.recode.vcf
/data/vcftools/maf.01_minDP20_maxDP100_minQ40_missing.10.recode.vcf
/data/vcftools/maf.01_minDP20_maxDP100_minQ40_missing.10.splitted.vcf
/data/vcftools/maf.01_minDP20_maxDP100_minQ40_missing.10.biallelic.vcf
/data/hmp_TASSEL/mygenotypes.hmp.txt
